/* ~~~~~~~~~~~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~~~~~~~~~~~ */

#app {
    overflow: hidden;
}
body {
    margin: 0px;
    padding-top: 60px;
    background-color: black;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}
.whatever {
    background-color: red;
    color: blue;
}
ul {
    margin: 0px;
    padding: 0px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Navbar ~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar-container {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    background-color:black;
    padding: 0%;
    z-index: 100;
    justify-content: center;
}
.navbar-container a{
    text-decoration:none;
}

@media (min-width: 660px) {
    .navbar-container {
        padding: 0 7%;
        justify-content: left;
    }
}
@media (min-width: 800px) {
    .navbar-container {
        padding: 0 15%; 
    }
}
/* ~~~~~~~~~~~~ logo CSS ~~~~~~~~~~~~ */
.navbar-logo {
    width: 145px;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.navbar-logo h1{
    margin: 0;
}
.navbar-logo img {
    height: 44px;
}
/* ~~~~~~~~~~~~ navbar menu ~~~~~~~~~~~~ */

.navbar-drop-down {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: black;
    height: 0%;
}
.navbar-drop-down ul {
    max-height: 0%;
    overflow: hidden;
    padding-top: 0px;
    font-size: 26px;
    list-style-type:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: black;
    -webkit-transition: max-height 0.5s ease-in-out 0s;
    -moz-transition: max-height 0.5s ease-in-out 0s;
    -o-transition: max-height 0.5s ease-in-out 0s;
    transition: max-height 0.5s ease-in-out 0s;
}

.navbar-drop-down li {
    width: 100%;
    text-align: center;
}
.navbar-drop-down a{
    padding: 12px;
    color: rgb(161, 161, 161);
    display: block;
    transition: color 0.4s;
    border-top: 1px solid gray;
}
.navbar-drop-down a:hover{
    color: white;
}
.navbar-drop-down a.selected{
    color: white;
}
.navbar-drop-down.open ul{
    max-height: 280px;
}
@media (min-width: 660px) {
    .navbar-drop-down li {
           width: auto;
    }
    .navbar-drop-down {
        position: relative;
        top: 0px;
        height:100%;
    }
    .navbar-drop-down ul{
        padding-top: 0px;
        width: 430px;
        font-size: 20px;
        flex-direction: row;
        height: 100%;
        max-height: 100%;
    }
    .navbar-drop-down a {
        border-top: 0px;
        padding: 0px;
    }
    .navbar-drop-down.open ul{
        max-height: 100%;
    }
    .navbar-menu {
        width: 430px;
        font-size: 20px;
        list-style-type:none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-menu a{
        color: rgb(161, 161, 161);
    }
    .navbar-menu a:hover{
        color: white;
    }
    .navbar-menu a.selected{
        color: white;
    }
}
/* ~~~~~~~~~~~~ navbar burger ~~~~~~~~~~~~ */
.burger-container{
    position: absolute;
    right: 15px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.burger {
    cursor: pointer;
}
.burger span{
    background: #eee;
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}
.burger span:nth-child(4){
    margin-bottom: 0px;
}
.burger.open span:nth-child(2),
.burger.open span:nth-child(3){
    width: 0;
    opacity: 0;
}
.burger.open span:nth-child(4){
    transform: rotate(45deg);
    top: -12px;
}
.burger.open span:nth-child(1){
    transform: rotate(-45deg);
    top: 12px;
}
@media (min-width: 660px) {
    .burger {
        display:none;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Parallax ~~~~~~~~~~~~~~~~~~~~~~~~ */
.parallax-bg {
    height: 60vh;
    width: 100%;
}
.parallax-quotes {
    position: absolute;
    color:white;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 4px black;
    font-size: 18px;
    text-align: center;
    animation: left_to_right 0.7s ease-in;
}

@keyframes left_to_right {
    from {
        color:transparent;
        transform: translate(-65%, -50%);
        text-shadow: none;
    }
}
@media (min-width: 660px) {
    .parallax-bg {
        height: 80vh;
    }
    .parallax-quotes {
        font-size: 28px;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ Services ~~~~~~~~~~~~~~~~~~~~~~~~ */
.services-wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.services {
    width: 100%;
    background-color:black;
    text-align: center;
    padding: 0px auto;
}
.services h1{
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.services h2 {
    font-size: 20px;
    margin: 0px;
    padding: 10px 0;
    position: absolute;
    bottom: 0%;
    text-align: center;
    width: 100%;
    background: inherit;
    background-color: rgba(68, 68, 68, 0.5);
}
.services-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.services-image-container {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
}
.services-image-container a,
.services-image-container a:hover,
.services-image-container a:visited {
    color: white;
    text-decoration: none;
}
.services-image-container img{
    transition: all 0.2s ease-in-out;
}
.services-image-container:hover img{
    transform: scale(1.02);
}
.services-image-container .cropped{
    transition: all 0.2s ease-in-out;
}
.services-image-container:hover .cropped{
    transform: scale(1.02);
    bottom: -2px;
}
.services img {
    display: block;
    width: 150px;
}
.cropped {
    position: absolute;
    bottom: 0px;
    width: 100%; /* width of container */
    height: 43px; /* height of container */
    overflow: hidden;
}
.cropped img {
    margin: -107px 0px 0px 0px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

@media (min-width: 1000px) {
    .services h1{
        font-size: 42px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .services h2 {
        font-size: 26px;
        margin-top: 0px;
        padding: 15px 0;
    }
    .services img {
        width: 248px;
    }
    .cropped {
        height: 60px;
    }
    .cropped img {
        margin: -188px 0px 0px 0px;
    }
}
@media (min-width: 1250px) {
    .services-container {
        margin: 0 10%;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ Carousel ~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel {
    position: relative;
}
.carousel-item {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.test {
    width: 100%;
    height: 100vh;
    background-color: white;
    background: linear-gradient(190deg, transparent 74.8%,  white 75%), linear-gradient(170deg, #417DC9 74.8%, white 75%);
    font-family: arial;
    text-align: center;
}
.covid-header {
    position: relative;
    top: 10%;
    width: 100%;
    font-size: 18px;
}
.covid-header p{
    padding: 0px 10%;
    margin: 0;
    margin-top: 32px;
}
@media (min-width: 600px) {
    .covid-header {
        font-size: 26px;
        letter-spacing: -0.01em;
    }
    .covid-header p{
        padding: 0 15%;
    }
}
@media (min-width: 1200px) {
    .covid-header {
        font-size: 36px;
        letter-spacing: -0.01em;
    }
    .covid-header h1{
        margin: 25px 0;
    }
}

.covid-center {
    position: relative;
    top:20%;
    font-size: 16px;
    text-shadow: 2px 2px 2px #417DC9;
}

@media (min-width: 600px) {
    .covid-center {
        font-size: 24px;
    }
}
@media (min-width: 1200px) {
    .covid-center {
        font-size: 28px;
    }
}
.bullet-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.covid-center h2 {
    padding: 4px;
}
.bullet {
    font-size: 48px;
}
@media (min-width: 600px){
    .covid-center h2 {
        padding: 0 20px;
    }

    .bullet {
        font-size: 68px;
    }
}
.covid-footer {
    font-size: 15px;
    position: absolute;
    bottom: 0%;
    color:  black;
    text-align: center;
    width: 100%;
}
.shield-container {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.covid-footer span {
    color: #417DC9;
}
.shield {
    padding: 0 5px;
}
@media (min-width: 600px) {
    .covid-footer {
        font-size: 19px;
    }
}

.carousel-map {
    background-image: url("./images/map2.png");
    background-size: 100% 100%;
    background-position: right;
    background-repeat:no-repeat;
    height: 80vh;
}
@media (min-width: 600px) {
    .carousel-map {
        background-image: url("./images/Kings-Tattoo-map.png");
    }
}

.tattoo-quotes {
    background-image: url("./images/carousel1.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: relative;
}
.tattoo-quotes-container {
    position: absolute;
    bottom: 0%;
    padding: 30px 0;
    background-color:black;
    text-align: center;
    width: 100%;
    background-color: transparent;
    background-image: radial-gradient(rgba(0, 0, 0, .8) 1%, rgba(41, 41, 41, 0.5) 98%);
}
.tattoo-quotes-container p{
    padding: 0 40px;
}
@media (min-width: 600px) {
    .tattoo-quotes-container p{
        font-size: 25px;
    }
}

.process-wrap {
    margin: 25px;
    text-align: center;
}
.content-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1em;
    overflow: hidden;
    flex-direction: column; /* added */
}

.content-wrap::before {
    position: absolute;
    top: 0; 
    left: calc(50% - 1px);
    Content: "";
    Background-color: grey;
    width: 2px;
    height: 100%;

/*     position: absolute;
    top: calc(50% - 1px);
    right: 0;
    left: 0;
    Content: "";
    Background-color: grey;
    height: 2px; */
}
.icon1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: #777;
    padding: 1rem;
    -webkit-transition: color 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}
.icon1-wrap {
    z-index: 1;
    border: 2px solid #777777;
    border-radius: 50%;
    font-size: 3rem;
    background-color: black;
    cursor: pointer;
    -webkit-transition: border 0.3s ease-in-out 0s;
    -moz-transition: border 0.3s ease-in-out 0s;
    -o-transition: border 0.3s ease-in-out 0s;
    transition: border 0.3s ease-in-out 0s;
    margin: 2rem;
}

.icon1-wrap:first-child {
    box-shadow: 0 -0.5em 0 0.5em black;
}
.icon1-wrap:last-child {
    box-shadow: 0 0.5em 0 0.5em black;
}
.icon1-wrap:hover {
    border: 2px solid white;
}
.icon1-wrap:hover .icon1{
    color: white;
    /* border: 2px solid white; */
}

.icon1-wrap.active{
    border: 2px solid white;
}

.icon1-wrap.active .icon1{
    color: white;
}
@media (min-width: 600px) {
    .content-wrap {
        flex-direction: row;
    }
    .content-wrap::before {
        top: calc(50% - 1px);
        right: 0;
        left: 0;
        height: 2px;
        width: 100%;
    }
    .icon1-wrap {
        margin: 0px;
    }
    .icon1-wrap:first-child {
        box-shadow: -0.5em 0 0 0.5em black;
    }
    .icon1-wrap:last-child {
        box-shadow: 0.5em 0 0 0.5em black;
    }
}

/* @media (max-width: 600px) {
    .content-wrap {
        flex-direction: column;
        height: 100%;
    }
    .content-wrap::before {
        position: absolute;
        top: 0; 
        left: calc(50% - 1px);
        Content: "";
        Background-color: grey;
        width: 2px;
        height: 100%;
    }
    .icon1-wrap {
        margin: 2rem;
    }
    .icon1-wrap:first-child {
        box-shadow: 0 -0.5em 0 0.5em black;
    }
    .icon1-wrap:last-child {
        box-shadow: 0 0.5em 0 0.5em black;
    }
} */

@media (min-width: 950px) {
    .icon1{
        padding: 2rem;
    }
    .icon1-wrap {
        box-shadow: 0 0 0 0.5em black;
    }
    .icon1-wrap:first-child {
        box-shadow: 0 0 0 0.5em black;
    }
    .icon1-wrap:last-child {
        box-shadow: 0 0 0 0.5em black;
    }
    h1 {
        font-size: 42px;
    }
}
.drop-down-outer {
    position: relative;
}
.drop-down-inner h2{
    margin-top: 0px;
}
@media (max-width: 599px){
    .drop-down-outer {
        width: 100%;
        margin-left: 90px;
    }
    .drop-down-inner {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
        visibility:hidden;
        transition: visibility 0s ease .5s;
    }
    .drop-down-inner.active {
        visibility:visible;
        transition: visibility 0s ease-in-out 1s;
        animation: proccessAnimation1 .5s ease 1s;
    }
    .drop-down-bg {
        height: 0px;
        transition: height .5s ease .5s;
    }
    .drop-down-bg.active {
        transition: height .5s ease .5s;
    }
    
    .content-wrap {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s ease-in-out .4s;
    }
    .content-wrap.active {
        left: -90px;
        transform: translateX(0);
        transition: all .5s ease-in-out 0s;
    }
    .whatever-wrap {
        position: relative;
        height: 772px;
    }
    
    .lalala-whatever {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media (min-width: 600px) {    
    .drop-down-inner {
        position: absolute;
        top: 0px;   
        left: 0px;
        padding: 10px;
        visibility:hidden;
        transition: visibility 0s ease-in-out .5s;
    }
    .drop-down-inner.active {
        visibility:visible;
        transition: visibility 0s ease-in-out .5s;
        animation: proccessAnimation1 .5s ease .5s;
    }
    .drop-down-inner h2{
        margin-top: 0px;
    }
    .drop-down-bg {
        height: 0px;
        transition: height .5s ease-in-out .5s;
    }
    .opening-animation2 {
        transition: height .5s ease-in-out 0s;
    }
}
.closing-animation,
.changing-animation{
    animation: proccessAnimation2 .5s ease 0s;
}
.changing-animation.active {
    animation: proccessAnimation3 1.5s ease 0s;
}
@keyframes proccessAnimation1 {
    0% {
        color:transparent;
        transform: translate(80%, 0%);
    }
}
@keyframes proccessAnimation2 {
    100% {
        color:transparent;
        transform: translate(80%, 0%);
    }
}
@keyframes proccessAnimation3 {
    0% {
        color:transparent;
        transform: translate(80%, 0%);
    }
    66% {
        color:transparent;
        transform: translate(80%, 0%);
    }
}

.tattoo-article-wrap{
    background-image: url("./images/tattoo-girl-image.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: relative;
    position: relative;
    display: flex;
}
.tattoo-article-container {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    padding: 30px 0;
    background-color:black;
    text-align: center;
    width: 100%;
    background-color: transparent;
    background-image: radial-gradient(rgba(0, 0, 0, .8) 1%, rgba(41, 41, 41, 0.5) 98%);
}
@media (min-width: 600px) {    
    .tattoo-article-container p,
    .tattoo-article-container h2{
        font-size: 19px;
        padding: 0 100px;
    }
    .tattoo-article-container h2{
        font-size: 32px;
    }
}



.footer h2, ul, p {
    text-align: center;
}
.footer li {
    padding: 4px 0px;
    color: rgb(161, 161, 161);
}
.footer p {
    margin-bottom: 5px;
}
.footer a{
    text-decoration: none;
}
.footer a {
    color: rgb(161, 161, 161);
}
.footer a:visited {
    color: rgb(161, 161, 161);
}
.footer a:hover {
    color: white;
}