body {
    margin: 0px;
}
.carousel {
    height:100vh;
}
.carousel-item {
    height:100vh;
    background-size: cover;
    background-position: top;
    position: relative;
}
.carousel-left-button {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translatey(-50%);
}
.carousel-right-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translatey(-50%);
} 